.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff; 
}

.input {
  padding: 10px;
  border: 1px solid #444; 
  font-size: 14px;
  background-color: #f7f7f7;
  color: #444444; 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.danger {
  border-color: red !important;
  background-color: #ffe6e6;
}

.help {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.control {
  position: relative;
}

.input::placeholder {
  color: #aaa;
  font-size: 13px;
}
